# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.production

# =========================
# Sequelize / Database
# =========================
*.sqlite
*.sqlite3

# =========================
# Build / Dist
# =========================
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Coverage / Tests
# =========================
coverage/

# =========================
# Others
# =========================
*.tmp
